# Recommended demo API on Render
EXPO_PUBLIC_API_BASE_URL=https://gs-java-advanced.onrender.com

# Local Android Emulator API
# EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8080

# Local iOS Simulator / Web API
# EXPO_PUBLIC_API_BASE_URL=http://localhost:8080

# Local physical phone with Expo Go API
# EXPO_PUBLIC_API_BASE_URL=http://YOUR_COMPUTER_LAN_IP:8080
